body { 
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
}

#root {
  width: 385px;
  height: 100vh;
  overflow-y: auto;

  background-color: #fff;
  padding: 67px 24px 30px;

  margin-bottom: 118px;

  position: relative;
}

h2 {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 22px;
}

p {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #293845;
}